RestService/__pycache__
CameraService/__pycache__
SpectrometerCalibration/__pycache__
calibration/__pycache__
venv
.vscode
node_modules
package-lock.json
Website/dist/1.bundle.js
Website/dist/bundle.js
